.section1 {
    background-image: url(./img_1.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.test,.eco,.limon {
    background-image: url(./bg\(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.eco {
    background-image: url(./img_3.png);
}

.limon {
    background-image: url(./bg\(2\).png);
}